{% extends "base.html" %}
{% block content %}
<div class="ui-widget">
  <label for="search">Search:&nbsp;</label>
  <input id="search" autofocus autocomplete="off" style="width: 97%;">
</div>
<div id="textarea"></div>
<script>
    $(function () {
        var quill = new Quill('#textarea', { theme: 'snow' });
        quill.setContents({{contents|safe}});
        quill.on('text-change', setDirty);
        setInterval(saveCallback, 500);

        $('#search').bind("enterKey",function(e) {
            v = e.target.value;
            $.ajax({
                type: "POST",
                url: "/submit", 
                data: JSON.stringify({"term": v, "dropdown": false}), 
                success: function(data) {
                    window.location.replace(data.url);
                }, 
                dataType: "json",
                contentType: "application/json; charset=utf-8"
           });
        });

        $('#search').keyup(function(e){
            if(e.keyCode == 13)
            {
                $(this).trigger("enterKey");
            }
        });

        $( "#search" ).autocomplete({
            source: "/search",
            minLength: 2,
            autofocus: true,
            select: function(event, ui) {
                v = ui.item.value;
                $.ajax({
                    type: "POST",
                    url: "/submit", 
                    data: JSON.stringify({"term": v, "dropdown": true}), 
                    success: function(data) {
                        window.location.href = data.url;
                    }, 
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                });
                //alert( "Selected: " + ui.item.value + " aka " + ui.item.id );
            }
        });
    });
</script>
{% endblock %}
